<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>SVEZA</title>
</head>
<body>
    <main>
        <div class="split left"></div>
        <div class="split right" style="left: 60%;"></div>
        <div class="vertical-flex-container">
            <div class="flex-element" style="flex: 2;">
                <div class="square-button-textbox bold" style="width: 100%; font-size: 32px; margin-top: 0;">Личный Кабинет</div>
            </div>
            <div class="flex-element">
                <div class="personal-photo"></div>
            </div>
            <div class="flex-element">
                <div class="data-element"  id="inf-0" style="width: 300px; margin-left: calc(50% - 300px/2);">Имя Фамилия: </div>
            </div>
            <div class="flex-element">
                <div class="data-element" id="inf-1" style="width: 300px; margin-left: calc(50% - 300px/2);">Почта: </div>
            </div>
            <div class="flex-element" style="flex: 2;">
                <div class="logo" style="position: relative; margin-bottom: 30%;"></div>
            </div>
        </div>
        <div class="vertical-flex-container" style="margin-left: 41%; width: 24%; height: 80%; margin-top: 5%;">
            <div class="flex-element">
                <div class="data-element bold">Логин: </div>
            </div>
            <div class="flex-element">
                <div class="data-element" id="inf-2">{{info.fio}} </div>
            </div>
            <div class="flex-element bold">
                <div class="data-element">Должность: </div>
            </div>
            <div class="flex-element">
                <div class="data-element" id="inf-3">{{info.post}} </div>
            </div>
            <div class="flex-element bold">
                <div class="data-element">Табельный номер: </div>
            </div>
            <div class="flex-element">
                <div class="data-element" id="inf-4">{{info.service_number}} </div>
            </div>
            <div class="flex-element bold">
                <div class="data-element">Текущий сеанс: </div>
            </div>
            <div class="flex-element">
                <div class="data-element" id="inf-5">02:43:56 </div>
            </div>
        </div>
        <div class="vertical-flex-container" style="margin-left: calc(15% + 250px + 760px); width: 200px; height: 90%; margin-top: 3%;">
            <div class="flex-element">
                <form action="{{ url_for('index') }}">
                    <button type="submit" class="square-button white-button">
                        <div class="square-button-textbox">Главная</div>
                        <div class="image" style="background-image: url('static/Home\ Page.png');"></div>
                    </button>
                </form>
            </div>
            <div class="flex-element">
                <form action="{{ url_for('analitics') }}">
                    <button type="submit" class="square-button white-button">
                        <div class="square-button-textbox">Аналитика</div>
                        <div class="image" style="background-image: url('static/Analytics.png');"></div>
                    </button>
                </form>
            </div>
            <div class="flex-element">
                <form action="{{ url_for('login') }}">
                    <button type="submit" class="square-button white-button" id="exit">
                        <div class="square-button-textbox">Выход из <br> аккаунта</div>
                        <div class="image" style="background-image: url('static/Emergency\ Exit.png');"></div>
                    </button>
                </form>
            </div>
        </div>
    </main>
</body>
</html>