<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>SVEZA</title>
</head>
<body>
    <main>
        <div class="split left"></div>
        <div class="split right"></div>
        <div class="login-box">
            <h2>Авторизация</h2>
            <form action="/login" method = "POST">
            <div class="textbox">
                <input type="text" placeholder="Логин" name="login">
            </div>
            <div class="textbox">
                <input type="password" placeholder="Пароль" name="password">
            </div>
                <button type="submit" class="btn">Войти</button>
            </form>
        </div>
        <div class="logo"></div>
    </main>
</body>
</html>